<div class="recent-users">
  <h2>Our Recent Users</h2>
  <div class="recent-users__cards">
    <div class="recent-users__card" *ngFor="let recentUser of recentUsers">
      <img [src]="recentUser.avatar" alt="" />
      <div class="recent-users__info">
        <h3>{{recentUser.name}}</h3>
        <p>{{recentUser.elements}}K</p>
      </div>
      <div class="recent-users__info">
        <div class="recent-users__data">
          <img src="../../../../assets/list.svg" alt="">
          <p>{{ recentUser.items }} Items</p>
        </div>
        <div class="recent-users__data">
          <img src="../../../../assets/view.svg">
          <p>{{ recentUser.views }}K Views</p>
        </div>
      </div>
    </div>
  </div>
</div>