.recent-nft {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 0 5% 0;
}

h2 {
  font-size: 36px;
}

div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
  margin-bottom: 10px;
}

button.active {
  background-color: #4caf50;
  color: white;
}
