<div class="recent-nft">
  <div class="recent-nft__heading">
    <h2>New NFT'S</h2>
    <ul class="recent-nft__categories">
      <li *ngFor="let category of categories" [class.active]="category === selectedCategory"
        (click)="filterByCategory(category)">
        {{ category }}
      </li>
    </ul>
    <div class="recent-nft__explore">
      <a href="">Explore More</a>
    </div>
  </div>
  <div class="recent-nft__container">
    <div *ngFor="let image of images" class="recent-nft__card">
      <div class="recent-nft__image">
        <span class="recent-nft__views">❤️2.1K</span>
        <img [src]="image.url" alt="{{ image.title }}" />
        <div class="recent-nft__avatar">
          <img [src]="image.avatar" alt="">
          <span>{{image.user}}</span>
        </div>
      </div>
      <div class="recent-nft__data">
        <div class="recent-nft__info">
          <h3>{{image.title}}</h3>
          <span class="recent-nft__price">Actual Price: <b>{{image.price}}</b></span>
        </div>
        <hr>
        <div class="recent-nft__buttons">
          <p>{{image.category}}</p>
          <span>Buy NFT</span>
        </div>
      </div>
    </div>
  </div>
</div>

//HACER ANIMACION EN LA IMAGEN COMO DE UN HOOVER AL PASAR EL MOUSE