<div class="recent-nft">
  <div class="recent-nft__heading">
    <h2>New NFT'S</h2>
    <ul class="recent-nft__categories">
      <li *ngFor="let category of categories" [class.active]="category === selectedCategory"
        (click)="filterByCategory(category)">
        {{ category }}
      </li>
    </ul>
    <div class="recent-nft__explore">
      <a href="">Explore More</a>
    </div>
  </div>
  <div *ngFor="let image of images">
    <img [src]="image.url" alt="{{ image.title }}" />
  </div>
</div>