<div class="top-collection">
  
  <div class="top-collection__heading">
    <h2>Top Collection</h2>
    <div class="top-collection__explore">
      <a href="">Explore More</a>
    </div>
  </div>

  <div class="top-collection__cards">
    <div class="top-collection__card">
      <img src="../../../../assets/general_7.jpeg" alt="" class="top-collection__banner">
      <img src="../../../../assets/avatar_7.png" alt="" class="top-collection__avatar">
      <div class="top-collection__info">
        <h3><a href="">Audioglyphs</a></h3>
        <span class="top-collection__authentic"><img src="../../../../assets/check.svg" alt="">Guarranted Authentic</span>
        <div class="top-collection__data">
          <div class="top-collection__items">
            <img src="../../../../assets/list.svg" alt="">
            <span>120 Items</span>
          </div>
          <div class="top-collection__items">
            <img src="../../../../assets/view.svg" alt="">
            <span>1K Views</span>
          </div>
        </div>
        <hr>
        <div class="top-collection__data">
          <div class="top-collection__footer">
            <h4>Volume</h4>
            <p>22.9k</p>
          </div>
          <div class="top-collection__footer">
            <h4>Floor Price</h4>
            <p>4.2 ETH</p>
          </div>
        </div>
      </div>
    </div>

    <div class="top-collection__card">
      <img src="../../../../assets/general_7.jpeg" alt="" class="top-collection__banner">
      <img src="../../../../assets/avatar_7.png" alt="" class="top-collection__avatar">
      <div class="top-collection__info">
        <h3><a href="">Audioglyphs</a></h3>
        <span class="top-collection__authentic"><img src="../../../../assets/check.svg" alt="">Guarranted Authentic</span>
        <div class="top-collection__data">
          <div class="top-collection__items">
            <img src="../../../../assets/list.svg" alt="">
            <span>120 Items</span>
          </div>
          <div class="top-collection__items">
            <img src="../../../../assets/view.svg" alt="">
            <span>1K Views</span>
          </div>
        </div>
        <hr>
        <div class="top-collection__data">
          <div class="top-collection__footer">
            <h4>Volume</h4>
            <p>22.9k</p>
          </div>
          <div class="top-collection__footer">
            <h4>Floor Price</h4>
            <p>4.2 ETH</p>
          </div>
        </div>
      </div>
    </div>

    <div class="top-collection__card">
      <img src="../../../../assets/general_7.jpeg" alt="" class="top-collection__banner">
      <img src="../../../../assets/avatar_7.png" alt="" class="top-collection__avatar">
      <div class="top-collection__info">
        <h3><a href="">Audioglyphs</a></h3>
        <span class="top-collection__authentic"><img src="../../../../assets/check.svg" alt="">Guarranted Authentic</span>
        <div class="top-collection__data">
          <div class="top-collection__items">
            <img src="../../../../assets/list.svg" alt="">
            <span>120 Items</span>
          </div>
          <div class="top-collection__items">
            <img src="../../../../assets/view.svg" alt="">
            <span>1K Views</span>
          </div>
        </div>
        <hr>
        <div class="top-collection__data">
          <div class="top-collection__footer">
            <h4>Volume</h4>
            <p>22.9k</p>
          </div>
          <div class="top-collection__footer">
            <h4>Floor Price</h4>
            <p>4.2 ETH</p>
          </div>
        </div>
      </div>
    </div>

    <div class="top-collection__card">
      <img src="../../../../assets/general_7.jpeg" alt="" class="top-collection__banner">
      <img src="../../../../assets/avatar_7.png" alt="" class="top-collection__avatar">
      <div class="top-collection__info">
        <h3><a href="">Audioglyphs</a></h3>
        <span class="top-collection__authentic"><img src="../../../../assets/check.svg" alt="">Guarranted Authentic</span>
        <div class="top-collection__data">
          <div class="top-collection__items">
            <img src="../../../../assets/list.svg" alt="">
            <span>120 Items</span>
          </div>
          <div class="top-collection__items">
            <img src="../../../../assets/view.svg" alt="">
            <span>1K Views</span>
          </div>
        </div>
        <hr>
        <div class="top-collection__data">
          <div class="top-collection__footer">
            <h4>Volume</h4>
            <p>22.9k</p>
          </div>
          <div class="top-collection__footer">
            <h4>Floor Price</h4>
            <p>4.2 ETH</p>
          </div>
        </div>
      </div>
    </div>

    <div class="top-collection__card">
      <img src="../../../../assets/general_7.jpeg" alt="" class="top-collection__banner">
      <img src="../../../../assets/avatar_7.png" alt="" class="top-collection__avatar">
      <div class="top-collection__info">
        <h3><a href="">Audioglyphs</a></h3>
        <span class="top-collection__authentic"><img src="../../../../assets/check.svg" alt="">Guarranted Authentic</span>
        <div class="top-collection__data">
          <div class="top-collection__items">
            <img src="../../../../assets/list.svg" alt="">
            <span>120 Items</span>
          </div>
          <div class="top-collection__items">
            <img src="../../../../assets/view.svg" alt="">
            <span>1K Views</span>
          </div>
        </div>
        <hr>
        <div class="top-collection__data">
          <div class="top-collection__footer">
            <h4>Volume</h4>
            <p>22.9k</p>
          </div>
          <div class="top-collection__footer">
            <h4>Floor Price</h4>
            <p>4.2 ETH</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>