<div class="slide">
  <div class="slide-inner">
    <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden="" checked="checked">
    <div class="slide-item">
      <div class="slide__info">
        <h1>The Best Beneficial Place <br>to Collect , Buy and Sell <br>NFT Marketplace</h1>
        <br>
        <span>Secure and secret NFTs for gaming, entertainment, metaverse and data <br> management time capsules.</span>
        <div class="slide__buttons--explore">
          <a href="" class="slide__button white"><span>Explore</span></a>
          <a href="" class="slide__button black"><span>Create</span></a>
        </div>
      </div>
      <img src="../../../../assets/carousel-02.png">
    </div>
    <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">
    <div class="slide-item">
      <div class="slide__info">
        <h1>The Best Beneficial Place <br>to Collect , Buy and Sell <br>NFT Marketplace</h1>
        <br>
        <span>Secure and secret NFTs for gaming, entertainment, metaverse and data <br> management time capsules.</span>
        <div class="slide__buttons--explore">
          <a href="" class="slide__button white"><span>Explore</span></a>
          <a href="" class="slide__button black"><span>Create</span></a>
        </div>
      </div>
      <img src="../../../../assets/carousel-03.png">
    </div>
    <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="">
    <div class="slide-item">
      <div class="slide__info">
        <h1>The Best Beneficial Place <br>to Collect , Buy and Sell <br>NFT Marketplace</h1>
        <br>
        <span>Secure and secret NFTs for gaming, entertainment, metaverse and data <br> management time capsules.</span>
        <div class="slide__buttons--explore">
          <a href="" class="slide__button white"><span>Explore</span></a>
          <a href="" class="slide__button black"><span>Create</span></a>
        </div>
      </div>
      <img src="../../../../assets/carousel-01.png">
    </div>
    <label for="slide-3" class="slide-control prev control-1">‹</label>
    <label for="slide-2" class="slide-control next control-1">›</label>
    <label for="slide-1" class="slide-control prev control-2">‹</label>
    <label for="slide-3" class="slide-control next control-2">›</label>
    <label for="slide-2" class="slide-control prev control-3">‹</label>
    <label for="slide-1" class="slide-control next control-3">›</label>
    <ol class="slide-indicador">
      <li>
        <label for="slide-1" class="slide-circulo">•</label>
      </li>
      <li>
        <label for="slide-2" class="slide-circulo">•</label>
      </li>
      <li>
        <label for="slide-3" class="slide-circulo">•</label>
      </li>
    </ol>
  </div>
</div>
