.footer {
  background: rgb(30, 7, 42);
  background: linear-gradient(116.85deg, rgba(30, 7, 42, 1) 0%, rgba(11, 9, 56, 1) 100%);
}

.footer__container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1350px;
  max-width: 1350px;
  margin: auto;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 100px 0;
}

.footer__items h2 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer__items nav ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #d4d4d4;
  margin-bottom: 10px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.footer__copyright ul {
  display: flex;
}

.footer__copyright ul li:not(:first-child) {
  margin-left: 35px;
}

.footer__line {
  height: 1px;
  width: 100%;
  background: linear-gradient(116.85deg, rgba(252, 70, 107, 0.5) 0%, rgba(63, 94, 251, 0.5) 100%);
}

.footer__search {
  position: relative;
  border-radius: 2em;
  background: linear-gradient(116.85deg, rgba(252, 70, 107, 0.6) 0%, rgba(63, 94, 251, 0.6) 100%);
  padding: 1px;
}

.footer__search input {
  width: 400px;
  height: 54px;
  padding: 10px 20px;
  border: none;
  border-radius: 2em;
  background: linear-gradient(116.85deg, rgba(252, 70, 107, 0.1) -83.71%, rgba(63, 94, 251, 0.1) 16.29%);
  background: #3d3288;
  outline: none;
  color: #fff;
  background: #0f0935;
}

.footer__search .search-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.footer__search .search-icon img {
  height: 19px;
  width: 19px;
}

.footer__social {
  display: flex;

  margin-top: 20px;
}

.footer__social .footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  width: 42px;
  height: 42px;
  color: #fff;
  margin: 10px;
  background: rgb(48, 18, 62);
  background: linear-gradient(140deg, rgba(48, 18, 62, 1) 35%, rgba(27, 21, 78, 1) 100%);
}

.footer__icon img {
  width: 19px;
  height: auto;
}
